@charset "UTF-8";
*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    cursor:  default; 
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    list-style: none;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    border: 0;
    max-width: 100%;
}

/* 헤더메뉴 */
#header{
    padding: 8px; 
    margin:auto;
    display: flex;
    box-sizing: border-box;
    width: 1024px;
}
.header_menu{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
}
.header_menu_item{
    display:flex;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 15px;
}
.header_menu_item1{
    display:flex;
    padding-right: 15px;
    padding-left: 15px;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    font-size: 15px;
}
.header_menu_item2{
    display:flex;
    padding-right: 15px;
    padding-left: 15px;
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    font-size: 15px;
}

/* 신선해 로고 */
.header_logo{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100px;
    cursor: pointer;
}

/* 메뉴 */
#navbar{
    width: 1024px;
    top: 110px;
    height: 50px;
    margin: auto;
}
.navbar_menu{
    height: 100%;
    width:1024px;
    display: flex;
    margin: 0;
    text-align: center;
}
.navbar_menu_item{
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    color: #797777;
    font-size: 17px;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.navbar_menu_item:hover{
    color: rgb(93, 168, 118);
    border-bottom: rgb(93, 168, 118) 3px solid;
}

/* 검색 */
.search{
    position: relative;
}
.search_text{
    width: 242px;
    height: 36px;
    padding: 0 60px 0 14px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    outline: none;
}
.btn_search{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    appearance: initial;
    background-color: initial;
    cursor: pointer;
    border: initial;
}  
/* 로그인 내용 */
.head{
    width: 100%;   
    margin-bottom: 50px;
    padding: 3px;                        
    text-align: center;
    border: #c7c6c6 solid 1px;    
    color: #797777;
    font-size: 20px;   
}
.input{
    margin: auto;
    display: flex;        
    flex-direction: column;
    align-items: center;
    padding: 5px;
} 
.input_id{
    margin: 5px auto;
}
.id_input {
    margin: auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: #c7c6c6 solid 1px;
}
.input_pw{
    margin: 5px auto;
    margin-bottom: 20px;
}
.pw1_input{
    margin: auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: #c7c6c6 solid 1px;
}
/* 로그인 실패시 경고글 */
.login_warn{
    margin-top: 30px;
    text-align: center;
    color : red;
}
.logbtn{
    margin: 5px auto;
}
.login_button{
    padding: 0px;
    margin: 10px auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: #c7c6c6 solid 1px;
    background-color: #e7e5e5;
}
.Easy_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
ul.easybtn{
    display: flex;
    flex-direction: column;        
    margin: auto;
    padding: 5px;
}